<ion-content fullscreen scroll-y="false">
  <ion-slides #slides [options]="slideOpts">
    <ion-slide>
      <h1>Slide1</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide2</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide3</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide4</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide5</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide6</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide7</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
