<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Angular Stories UI </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="stories" class="stories-wrapper">
    <div
      class="story"
      *ngFor="let story of stories; let idx = index"
      tappable
      (click)="showModal($event, idx)"
    >
      <div class="item-link">
        <span class="item-preview">
          <img [src]="story.photo" />
        </span>
        <span class="info">
          <strong>{{story.name}}</strong>
        </span>
      </div>
    </div>
  </div>
</ion-content>
