.stories-wrapper {
  white-space: nowrap;
  overflow: auto;
  padding: 12px;
  max-width: 500px;
  margin: 0 auto;

  .story {
    width: 18vw;
    max-width: 90px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: top;

    .item-link {
      text-align: center;
      color: #999;
      .item-preview {
        padding: 2px;
        max-height: 90px;
        height: 18vw;
        border-radius: 50%;
        background: #999;
        display: block;
        box-sizing: border-box;
        transition: transform 0.2s;

        img {
          display: block;
          box-sizing: border-box;
          border-radius: 50%;
          object-fit: cover;
          border: 3px solid #fff;
          height: 100%;
          width: 100%;
        }
      }

      .info {
        display: inline-block;
        margin-top: 0.5em;
        line-height: 1.2em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        .name {
          font-weight: 300;
        }
      }
    }
    .item-link:active > .item-preview {
      transform: scale(0.9);
    }
  }

  .seen {
    opacity: 0.75;
  }
}
